<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<META name="description" content="Pramit Saha is a masters student at the University of British Columbia doing research in articulatory speech synthesis."><META name="keywords" content="computer science, ECE, Articulatory speech synthesis, speech production">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% include analytics.html %}
	</head>
	<body>
		
		<nav>
	    	<ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="https://pramitsaha.github.io/markdown-cv/">CV</a></li>
			<li><a href="/Project">Project</a></li>
	        	<li><a href="/blog">Blog</a></li>
	    	</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
	    	<ul>
	        	<li><a href="https://github.com/PramitSaha">github.com/PramitSaha</a></li>
			<li><small>© 2020, Pramit Saha</small></li>
			</ul>
		</footer>
	</body>
</html>
